* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    height: 70vh;
}


h1 {
    font-size: 8vmin;
    /* line-height: 12vmin; */
    background-color: #081b31;
    color: #fff;
    height: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.choice {
    height: 20vmin;
    width: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: #081b31;
    border-radius: 50%;
    cursor: pointer;
}

img {
    height: 18vmin;
    width: 18vmin;
    border-radius: 50%;
    object-fit: cover;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.score {
    font-size: 5vmin;
}

#user-score, #computer-score {
    font-size: 7vmin;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 4vmin;
    display: inline;
    border-radius: 1rem;
    padding: 1.5rem;
}

h2 {
    position: relative;
    top: 10vmin;
}

a {
    text-decoration: none;
    color: black;
}